<% if current_user&.admin? %>
  <div class="card rounded-lg mt-3 mb-3">
    <div class="card-body">
      <%= form_for(object, remote: true) do |f| %>
        <%= f.hidden_field :word_id, value: @word.id %>

        <div class="form-floating mb-3">
          <%= f.text_field :sentence, class: "form-control",
                                      placeholder: "Enter the example sentence" %>
          <%= f.label :origin, class: "form-check-label" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :hiragana, class: "form-control",
                                      placeholder: "Enter hiragana" %>
          <%= f.label :hiragana, class: "form-check-label" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :meaning, class: "form-control",
                                      placeholder: "Enter the meaning" %>
          <%= f.label :meaning, class: "form-check-label" %>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
          <%= f.submit "Update example", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
