<% if current_user&.admin? %>
  <div class="card rounded-lg mb-3">
    <div class="card-header"><h5 class="text-center font-weight-light">New example</h5></div>
    <div class="card-body">
      <%= form_for(@word.examples.build, remote: true) do |f| %>
        <%= render "shared/error_messages", object: f.object %>
        <%= f.hidden_field :word_id, value: @word.id %>

        <div class="form-floating mb-3">
          <%= f.text_field :sentence, class: "form-control", autofocus: true,
                                      placeholder: "Enter the example sentence" %>
          <%= f.label :origin, class: "form-check-label" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :hiragana, class: "form-control",
                                      placeholder: "Enter hiragana" %>
          <%= f.label :hiragana, class: "form-check-label" %>
        </div>

        <div class="form-floating mb-3">
          <%= f.text_field :meaning, class: "form-control",
                                      placeholder: "Enter the meaning" %>
          <%= f.label :meaning, class: "form-check-label" %>
        </div>

        <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
          <a id="cancel-add" class="btn btn-danger">Cancel</a>
          <%= f.submit "Add example", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
