<section style="background: url(https://elearningindustry.com/wp-content/uploads/2021/02/understanding-technology-terms-used-in-education.png) top left / cover no-repeat; min-height: 35vh; position: relative;" class="img-fluid">
  <div class="container">
    <p class="display-1 fw-bold pt-4"><%= @course.name %></p>
    <p class="fs-4 pt-2"><%= @course.description %></p>
    <div class="d-flex">
      <div id="enroll_form" class="align-self-center">
        <%= render 'enroll' if user_signed_in? %>
      </div>
      <div class="align-self-center ms-3">
        <span><i class="fa fa-user" aria-hidden="true"></i></span>
        <span id="enrolling"><%=@course.users.count%></span>
      </div>
    </div>
  </div>
</section>
<section>
  <p class="fs-3 fw-bold">Lessons list</p>
  <div class="card" style="width: 100%">
    <div class="card-header">
      <%= @course.name %>
    </div>
    <ul id="lessons-list" class="list-group list-group-flush">
      <%= render @lessons %>
    </ul>
  </div>
  <% if current_user&.admin? %>
    <div class="card mt-5 mb-3" style="width: 50%">
      <div class="card-body">
        <%= form_for(@course.lessons.build, remote: true) do |f| %>
          <%= render "shared/error_messages", object: f.object %>
          <%= hidden_field_tag :course_id, @course.id %>
          <%= f.text_field :name, autofocus: true, class: "form-control",
                                                    placeholder: "Enter the name of the lesson" %>
          <%= f.submit "Add lesson", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
</section>
